.mainFrame {
  width: fit-content;
  height: fit-content;
}

.fireFrame {
  pointer-events: none;
  width: 200px;
  height: 200px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  transform: translateX(100%) translateY(100%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes fly {
  from {
    bottom: 0;
    right: 0;
    transform: translateX(100%) translateY(100%);
  }
  to {
    bottom: 100vh;
    right: 100vw;
    transform: translateX(0%) translateY(0%);
  }
}
